.plan {
    width: 800px;
    margin: 90px auto;
}

.plan label {
    display: block;
}

.plan ul li {
    list-style-type: decimal-leading-zero;
    margin: 10px 20px;
}

.finish {
    text-decoration: line-through;
}

.plan ul li button:first-child {
    margin-left: 50px;
    margin-right: 15px;
}