.sport {
    width: 800px;
    margin: 90px auto;
}

.sport label {
    display: block;
}

.sport ul li {
    list-style-type: decimal-leading-zero;
    margin: 10px 20px;
}

.finish {
    text-decoration: line-through;
}

.sport ul li button:first-child {
    margin-left: 50px;
    margin-right: 15px;
}